<div class="container-fluid">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner text-slide">
    <div class="carousel-item active">
      <img src="img/slide1.jpg" class="d-block w-100 img-responsive" style="height: 500px" >
      <div class="carousel-caption d-none d-md-block text-blur">
        <h5>Pediatria</h5>
        <p>Especialidade médica dedicada a atender recém-nascidos, crianças e adolescentes nos seus diversos aspectos, sejam eles preventivos ou curativos.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="img/slide2.jpg" class="d-block w-100 img-responsive" style="height: 500px"  >
      <div class="carousel-caption d-none d-md-block text-blur">
        <h5>Nutricionista</h5>
        <p>Atua na prevenção, promoção e recuperação da saúde humana, planejando, executando e avaliando ações baseadas nos conhecimentos da ciência da nutrição e alimentação.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="img/slide3.jpg" class="d-block w-100 img-responsive" style="height: 500px"  >
      <div class="carousel-caption d-none d-md-block text-blur">
        <h5>Cardiologista</h5>
        <p>Especialidade médica focada no diagnóstico e tratamento de doenças que afetam o coração e os grandes vasos.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
