


   <section class="principal">
   {{>header}}
   <div class="cards-container">
      <a class="cards"><img src="img/card1.svg" ><h3>Resultado dos Exames</h3></a>
      <a class="cards"><img src="img/card2.svg" ><h3>Plano de Saúde</h3></a>
      <a class="cards"><img src="img/card3.svg" ><h3>Vacinas</h3></a>
      <a class="cards"><img src="img/card4.svg" ><h3>Agendamento de consulta</h3></a>
   </div>
   <div class="text-container">
      <img src="img/doctorOk.png" >
      <div class="texts">
      <h2>Qual a importância de ir ao médico regularmente?</h2>
      <p>A única forma de detectar doenças sem sintomas de forma precoce é realizando um acompanhamento médico constante e um check-up regular. Ao diagnosticar uma doença precocemente, as chances de cura aumentam bem como a sua qualidade de vida.<p>
      </div>
   </div>
   </section>
{{>carrossel}}
{{>footer}}




